<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            margin: 20px;
        }
    </style>
</head>
<body>
    <%- include("nav") %> <br><br>
    <form action="/task/createtask" method="post" id="taskform">
        <input type="text" name="title" id="title" placeholder="enter your title" required><br><br>
        <input type="text" name="content" id="content" placeholder="enter your des" required><br><br>
        <input type="text" name="category" id="category" placeholder="enter your category" required><br><br>
        <input type="date" name="duedate" id="" required><br><br>
        <select name="status" default="Pending" id="status">
            <option value="Pending" >Pending</option>
            <option value="In Progress" >In Progress</option>
            <option value="Completed" >Completed</option>
        </select><br><br>
        <select name="priority" default="Medium" id="priority"> 
            <option value="Low" >Low</option>
            <option value="Medium" >Medium</option>
            <option value="High" >High</option>
        </select><br><br>
        <input type="submit">
    </form>
</body>
</html>